{% extends "pc/base.html" %}

{% block title %}订单清单{% endblock %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pc/css/orders_list.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="top-bar">
       <div class="left">
          <img src="{{ url_for('static', filename='pc/images/order.png') }}">
          <span class="top-bar-word">订单清单</span>
      </div>
      <div class="right">
          已选商品：<span class="price" data-bind="text: checkedProductsTotal">￥0.00</span>
          <span class="settle-btn btn">结算</span>
      </div>
    </div>
    <div class="orders-header">
      <span class="products">商品</span>
      <span class="price">单价（元）</span>
      <span class="num">数量</span>
      <span class="sum">价格（元）</span>
      <span class="status">状态</span>
    </div>
    {% for order in orders %}
      <div class="order-container">
        <div class="order-header {{order.status}}">
          <span class="order-time">{{order.released_time_str}}</span>
          <span class="order-id">订单号： {{order.ticketid}}</span>
          <span class="post-man-info">送货人：李四 {{order.sender_contact_info}}</span>
        </div>
        <div class="item-list">
          {% for item in order['items'] %}
            <div class="item-container">
              <img src="/static/img/{{ item.filename }}">
              <span class="products-name">{{item.name}}</span>
              <span class="product-price">{{item.price}}</span>
              <span class="products-quantity">{{item.quantity}}</span>
              <span class="sum">￥{{ item.price * item.quantity }}</span>
            </div>
          {% endfor %}
          <div class="timer">
            <div class="timer-{{order.status}}">
              <div class="countdown">
                <img src="{{ url_for('static', filename='pc/images/time.png') }}">
                <span class="text"> 送货倒计时 </span>
              </div>
              <div class="counter" data-release={{order.released_time}} data-timedelta="{{order.timedelta}}"></div>
              <div class="password">动态密码：{{order.password}}</div>
            </div>
            <div class="order-{{order.status}}">
              <div class="received">已送达</div>
              <div class="password">动态密码：{{order.password}}</div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='pc/js/orders_list.js')}}"></script>
{% endblock %}
