ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 500px) {
  .not-seen-on-phone {
  	display: none;
  }
}

/* style added to the table 
*  code from liyiqi  -_-
*
*/
table.scrolled tbody {
    display:block;
    height:200px;
    overflow:auto;
}

table.scrolled thead, table.scrolled tbody tr{
    display:table;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

table.scrolled thead {
    width: calc( 100% - 1em );
}

.finished {
    color: green;
}

.cancelled {
    color: #CD853F;
}

.still {}

.overtime {
    color: red;
}

