<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>项目 - 三级管理页面</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/admin/css/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/admin/css/sb-admin-2.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="/static/admin/css/font-awesome.css" rel="stylesheet" type="text/css">

    <link href="/static/admin/css/index_3.css" rel="stylesheet">
 


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">三级管理员界面（楼管）</a>
            </div>

            <!-- /.navbar-header -->

            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a id="logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                    </li>
                </ul>
            </div>

        </nav>

        <!-- Content -->
        <div id="">
            <!-- Tab Navigation -->
            <ul id="myTab" class="nav nav-tabs">
                <li class="active"><a href="#orders" data-toggle="tab" id="query_orders">
                    查看当月所有订单</a>
                </li>
                <li><a class="not-seen-on-phone"href="#stocks" data-toggle="tab" id="query_items">查看货物存货</a></li>
            </ul>
            <!-- Tab Navigation -->

            <!-- Tab Content -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="orders">
                    <!-- 当月所有订单 -->
                    <div class="table-responsive">
                        <table class="table" id="orders_table">
                            <caption>订单信息</caption>
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>商品明细</th>
                                    <th>订货人信息</th>
                                    <th>状态</th>
                                    <th>剩余完成时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody id="orders_table_body">
                                <!-- 一份订单显示内容 -->
                            </tbody>
                        </table>
                    </div>      
                </div>

                <div class="tab-pane fade" id="stocks">
                    <!-- 货物库存 -->
                    <div class="table-responsive">
                        <table class="table" id="stocks_table">
                            <caption>货物存货</caption>
                            <thead>
                                <tr>
                                    <th>商品名称</th>
                                    <th>商品明细</th>
                                    <th>数量</th>
                                </tr>
                            </thead>
                            <tbody id="stocks_table_body">
                                <!-- 一份货存显示内容 -->
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Tab Content -->
        </div>
        <!-- Content -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/admin/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/admin/js/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/admin/js/sb-admin-2.js"></script>
    <script type="text/javascript" src="/static/admin/js/utils.js"></script>
    <script type="text/javascript" src="/static/admin/js/json2.js"></script>
    <script type="text/javascript" src="/static/admin/js/index_3.js"></script>

</body>

</html>
